indicators/target/
mock_executor/target/
risk_management/target/
target/
news_scraper/output/
news_scraper/response.txt
output/
trade.log
news_scraper/__pycache__/
strategy_engine/__pycache__/
notes
backup/  
tweets.json
.gitignore
twitter_cookies_elonmusk.json
in.log
tv.log
docker/.env
rabbitmq/
docker/weaviate_data
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/.terraform/
news_analyser/__pycache__/
*.pyc
